name: build

on:
  pull_request:
    branches: [main, master]
  push:
    branches-ignore: [main, master]
  workflow_call:
  workflow_dispatch:

permissions:
  contents: read # for checkout

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - run: npm install

      - run: npm test

      - run: npm run package
