name: publish

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: read # for checkout

jobs:
  publish-vs-marketplace:
    runs-on: ubuntu-24.04
    environment:
      name: publish-vs-marketplace
      url: https://marketplace.visualstudio.com/items?itemName=SpiralP.classicube-script
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - run: npm install

      - name: Publish to Visual Studio Code Marketplace
        uses: HaaLeo/publish-vscode-extension@ca5561daa085dee804bf9f37fe0165785a9b14db # v2.0.0
        with:
          pat: ${{ secrets.VS_MARKETPLACE_TOKEN }}
          registryUrl: https://marketplace.visualstudio.com

  publish-openvsx:
    runs-on: ubuntu-24.04
    environment:
      name: publish-openvsx
      url: https://open-vsx.org/extension/SpiralP/classicube-script
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - run: npm install

      - name: Publish to Open VSX Registry
        uses: HaaLeo/publish-vscode-extension@ca5561daa085dee804bf9f37fe0165785a9b14db # v2.0.0
        with:
          pat: ${{ secrets.OPEN_VSX_TOKEN }}
